absl-py==0.7.0
alabaster==0.7.12
appnope==0.1.0
astor==0.7.1
astunparse==1.6.3
attrs==19.3.0
Babel==2.9.0
backcall==0.1.0
bleach==3.1.5
build==0.7.0
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
cloudpickle==0.7.0
codecov==2.1.7
colorama==0.4.4
coverage==5.1
cycler==0.10.0
dask==1.1.1
decorator==4.3.0
docutils==0.16
gast==0.3.3
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
idna==2.9
imageio==2.14.1
imagesize==1.2.0
importlib-metadata==4.8.3
ipykernel==5.1.0
ipython==7.2.0
ipython_genutils==0.2.0
jedi==0.13.2
Jinja2==2.11.2
joblib==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.2.1
kiwisolver==1.0.1
llvmlite==0.35.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.3.4
more-itertools==8.1.0
mrc==0.1.6
networkx==2.2
numba==0.52.0
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.0
pandas==1.1.5
parso==0.3.1
pep517==0.10.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.8.2
pluggy==0.13.1
prompt-toolkit==2.0.7
protobuf==3.12.4
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.1
Pygments==2.6.1
pyparsing==2.3.1
pytest==5.3.3
pytest-cov==2.10.0
python-dateutil==2.7.5
pytz==2018.9
PyWavelets==1.1.1
pyzmq==17.1.2
readme-renderer==26.0
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.12.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-addons==0.12.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2020.9.3
toml==0.10.1
tomli==1.2.3
toolz==0.9.0
tornado==5.1.1
tqdm==4.46.0
traitlets==4.3.2
twine==3.7.1
typeguard==2.12.0
typing_extensions==4.0.1
umap-learn==0.3.9
urllib3==1.25.9
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.12.1
zipp==1.0.0